.header-brand-block {
  .brand-image, .brand-text {
    display: inline-block !important;
  }
}

.app-header-button-group  {
  .app-filter-reset-btn {
    background: #ffffff;
    border-color: #625f5f;
    color: #625f5f;

    &:hover {
      background: #625f5f;
      color: #ffffff;
    }
  }

  .app-editor-btn {
    background: #529eea;
    border-color: #529eea;
    color: white;
    &:hover {
      background: #2b88e5;
      border-color: #2b88e5;
    }
  }

  .app-note-generate-btn {
    background: #57c7bd;
    border-color: #57c7bd;
    color: white;

    &:hover {
      background: #2bb6aa;
      border-color: #2bb6aa;
    }
  }
}