.section-card-header {

}

.note-card-icon {
    font-weight: 900;
    font-weight: 900;
    opacity: 0.4;
    &.completed {
      opacity: 1;
      color: green;
    }
}

.movement-item-container {
  border-right: 1px solid #dbdfe6;
  border-left: 1px solid #dbdfe6;
  border-bottom: 1px solid #dbdfe6;

  .movement-action-item {
    border-left-width: 0;
    border-right-width: 0;
  }
}
